

.row> div >div{
    height: 1rem;
}
.row{
    padding: 3px;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.grey{
    background-color: grey;
}